//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 09 19:19:15 2017
//! **************************************************************************

SCHEMATIC START;
COMP "input_data<7>" LOCATE = SITE "J6" LEVEL 1;
COMP "tsre" LOCATE = SITE "N9" LEVEL 1;
COMP "Ram1EN" LOCATE = SITE "M15" LEVEL 1;
COMP "led1<0>" LOCATE = SITE "F8" LEVEL 1;
COMP "rdn" LOCATE = SITE "C14" LEVEL 1;
COMP "led1<1>" LOCATE = SITE "E8" LEVEL 1;
COMP "led1<2>" LOCATE = SITE "A8" LEVEL 1;
COMP "led1<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "Ram1OE" LOCATE = SITE "M16" LEVEL 1;
COMP "led2<0>" LOCATE = SITE "B10" LEVEL 1;
COMP "led1<4>" LOCATE = SITE "E7" LEVEL 1;
COMP "led2<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "led1<5>" LOCATE = SITE "D7" LEVEL 1;
COMP "led2<2>" LOCATE = SITE "G9" LEVEL 1;
COMP "led1<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "led2<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "led2<4>" LOCATE = SITE "E9" LEVEL 1;
COMP "led2<5>" LOCATE = SITE "D9" LEVEL 1;
COMP "Ram1Data<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "led2<6>" LOCATE = SITE "C9" LEVEL 1;
COMP "Ram1Data<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "tbre" LOCATE = SITE "D14" LEVEL 1;
COMP "Ram1WE" LOCATE = SITE "M18" LEVEL 1;
COMP "Ram1Data<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "Ram1Data<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "Ram1Data<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "Ram1Data<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "Ram1Data<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "Ram1Data<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "data_ready" LOCATE = SITE "A16" LEVEL 1;
COMP "light<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "light<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "light<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "light<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "wrn" LOCATE = SITE "U5" LEVEL 1;
COMP "light<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "RST" LOCATE = SITE "U10" LEVEL 1;
COMP "light<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "light<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "light<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "input_data<0>" LOCATE = SITE "R1" LEVEL 1;
COMP "input_data<1>" LOCATE = SITE "N2" LEVEL 1;
COMP "input_data<2>" LOCATE = SITE "N1" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "input_data<3>" LOCATE = SITE "M1" LEVEL 1;
COMP "input_data<4>" LOCATE = SITE "K7" LEVEL 1;
COMP "input_data<5>" LOCATE = SITE "K2" LEVEL 1;
COMP "input_data<6>" LOCATE = SITE "J7" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

