

NET "CLK" LOC = B8;
NET "data_ready" LOC = A16;
NET "Ram1EN" LOC = M15;
NET "Ram1OE" LOC = M16;
NET "Ram1WE" LOC = M18;
NET "rdn" LOC = C14;
NET "RST" LOC = U10;
NET "tbre" LOC = D14;
NET "tsre" LOC = N9;
NET "wrn" LOC = U5;
NET "light[7]" LOC = F11;
NET "light[6]" LOC = E11;
NET "light[5]" LOC = D11;
NET "light[4]" LOC = C11;
NET "light[3]" LOC = B11;
NET "light[2]" LOC = A11;
NET "light[1]" LOC = E10;
NET "light[0]" LOC = D10;
NET "input_data[7]" LOC = J6;
NET "input_data[6]" LOC = J7;
NET "input_data[5]" LOC = K2;
NET "input_data[4]" LOC = K7;
NET "input_data[3]" LOC = M1;
NET "input_data[2]" LOC = N1;
NET "input_data[1]" LOC = N2;
NET "input_data[0]" LOC = R1;
NET "Ram1Data[7]" LOC = K13;
NET "Ram1Data[6]" LOC = K12;
NET "Ram1Data[5]" LOC = J17;
NET "Ram1Data[4]" LOC = J16;
NET "Ram1Data[3]" LOC = J15;
NET "Ram1Data[2]" LOC = J14;
NET "Ram1Data[1]" LOC = J13;
NET "Ram1Data[0]" LOC = J12;


NET "led1[6]" LOC = C7;
NET "led1[5]" LOC = D7;
NET "led1[4]" LOC = E7;
NET "led1[3]" LOC = F7;
NET "led1[2]" LOC = A8;
NET "led1[1]" LOC = E8;
NET "led1[0]" LOC = F8;
NET "led2[6]" LOC = C9;
NET "led2[5]" LOC = D9;
NET "led2[4]" LOC = E9;
NET "led2[3]" LOC = F9;
NET "led2[2]" LOC = G9;
NET "led2[1]" LOC = A10;
NET "led2[0]" LOC = B10;

# PlanAhead Generated physical constraints 
